<web-app xmlns="http://jakarta.ee/xml/ns/jakartaee"
         version="5.0">
  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ticketly.servlets.LoginServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.ticketly.servlets.HomeServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>MovieDetailsServlet</servlet-name>
    <servlet-class>com.ticketly.servlets.MovieDetailsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MovieDetailsServlet</servlet-name>
    <url-pattern>/movies/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>TheatreDetailsServlet</servlet-name>
    <servlet-class>com.ticketly.servlets.TheatreDetailsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TheatreDetailsServlet</servlet-name>
    <url-pattern>/theatreDetails/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ShowDetailsServlet</servlet-name>
    <servlet-class>com.ticketly.servlets.ShowDetailsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ShowDetailsServlet</servlet-name>
    <url-pattern>/shows</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>SeatLayoutServlet</servlet-name>
  <servlet-class>com.ticketly.servlets.SeatLayoutServlet</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>SeatLayoutServlet</servlet-name>
  <url-pattern>/seats</url-pattern>
</servlet-mapping>
  
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.ticketly.servlets.RegisterServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>BookSeatServlet</servlet-name>
  <servlet-class>com.ticketly.servlets.BookSeatServlet</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>BookSeatServlet</servlet-name>
  <url-pattern>/book</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>MyBookingsServlet</servlet-name>
  <servlet-class>com.ticketly.servlets.MyBookingsServlet</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>MyBookingsServlet</servlet-name>
  <url-pattern>/mybookings</url-pattern>
</servlet-mapping>

  
</web-app>
